
div {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  p {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
  }
  
  h3 {
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
    color: #333;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
 
  ul li span {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #555;
  }
 
  ul li button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  ul li button:hover {
    background-color: #c82333;
  }
  
  input {
    width: calc(50% - 50px); 
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  button:hover {
    background-color: #218838;
  }

  .buttonspace {
    display: flex;
    justify-content: space-between;     
  }


   .input-container {
    display: flex;
    justify-content: center;
  }
  
  .input-container input {
    width: 500%;
    max-width: 500px;
  }